* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

ol li {
    list-style-type: none;
}

.furniture-item {
    text-align: start;
    color: white;
    font-size: 15px;
    font-weight: 200;
}

.cate {
    color: #999;
}

.cate:hover {
    color: white;
    transition: color ease-out 0.3s;
    cursor: pointer;
}

.header-score_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16px;
}

.header-content {
    color: #999;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 100;
    text-align: start;
}

.header-content:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo {
    margin: 0 !important;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.header-folder a {
    text-decoration: none !important;
    color: black;
}

.wrap_header-score {
    padding: 10px;
    position: relative;
    font-weight: 300;
    letter-spacing: 2px;
    width: 100%;
}



.header {
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    border-bottom: 0.1px solid;
    transition: 0.6s;
    /* height: 60px; */
}

.header-folder {
    width: 23.25em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-drop {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #121111;
    background-size: cover;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 10, 0.2);
    border-radius: 3px;
    color: black;
    font-size: 23px;
    line-height: 35px;
    transition: opacity 0.5s linear, visibility 0s;
}


.header-item:hover .header-drop {
    visibility: visible;
    opacity: 1;
}




.fb-picture {
    background-image: url(https://cdn.pixabay.com/photo/2021/12/09/11/47/river-6858013_960_720.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}


.product_card {
    margin-top: 50px;
    width: 30em;
}

.text-card {
    color: white;
    display: inline-block;
    width: 350px;
}

.product_description {
    width: 21.875em;
}

.text-title {
    text-align: center;
}

.body1 {
    margin: 0 10em !important;
    padding: 50px 0 !important;
}

.body2 {
    margin: 6.15em 15em;
    margin-top: 100px;
    box-sizing: border-box;

}

.body2-text {
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 15px;
}

.body2-textspan {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body3 {

    height: 80em;
}

.body3-left {
    /* padding: 0 !important; */
    position: absolute;
    height: 40em;
    overflow: hidden;
}

.body3-left_up {
    /* position: absolute; */
    padding: 0 !important;
    display: block;
    width: 100%;
    height: 40em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://thaicong.com/wp-content/uploads/2021/04/sanphamweb-1.jpg);
    transition: 0.5s ease-in-out;
}


.body3-left_up:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-filter: brightness(150%);
}

.body3-left_bottom1 {
    /* position: absolute; */
    padding: 0 !important;
    display: block;
    width: 100%;
    height: 40em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://thaicong.com/wp-content/uploads/2021/04/chendia.jpg);
    transition: 0.5s ease-in-out;
}


.body3-left_bottom1:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-filter: brightness(150%);
}

.body3-left_bottom2 {
    /* position: absolute; */
    padding: 0 !important;
    display: block;
    width: 100%;
    height: 40em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://thaicong.com/wp-content/uploads/2021/04/Giaydantuong.jpg);
    transition: 0.5s ease-in-out;
}


.body3-left_bottom2:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-filter: brightness(150%);
}

.body3-left_bottom3 {
    /* position: absolute; */
    padding: 0 !important;
    display: block;
    width: 100%;
    height: 80em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://thaicong.com/wp-content/uploads/2021/04/chendia.jpg);
    transition: 0.5s ease-in-out;
}


.body3-left_bottom3:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-filter: brightness(150%);
}

.body3-left_bottom4 {
    /* position: absolute; */
    padding: 0 !important;
    display: block;
    width: 100%;
    height: 80em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('./asset/img/author2.jpg');
    transition: 0.5s ease-in-out;
}


.body3-left_bottom4:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-filter: brightness(150%);
}



.body3-content {
    position: relative;
    bottom: 100px;
}


.body3-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.imgsec-2:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s;
}

.footer {
    height: 21em;
    background-color: black;
    border-top: 0.1px solid grey;
    color: white
}

.wrap_footer {
    height: 21em;
    padding: 0 !important;
    margin: 0 15em;
}

.ele-fixed {
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 1;
    background-color: #292929;
}

.ele-item {
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 1px white solid;
}

.ele-item:hover {
    cursor: pointer;
}

figure {
    overflow: hidden;
}

#img {
    display: block;
    width: 100%;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

#img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.footer-cate {
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 200%;
    text-transform: uppercase;
    font-stretch: extra-expanded;
}

.footer-cate_text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-block {
    line-height: 1.8;
}

.footer-content {
    padding-bottom: 2px;
    color: #999;
    font-size: 16px;
    font-weight: 100;
    text-align: start;
}

.footer-title {
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    font-weight: 600
}

.newsletter {
    width: 100%;
    height: 3em;
    border-radius: 3px;
    padding: 10px;
    outline: none;
}